$primary-green: rgb(18, 150, 102);
$secondary-bg: #222222;
$light-secondary-bg: #3E3E3E;
$danger-color: #A52020;
$pressed-on-sec-bg: #191919;
$secondary-fg: #888;
$primary-fg: #C8C8C8;
$primary-bg: #141414;
$disabled: #323232;

@function primary-green-op($opacity) {
    @return rgba($primary-green, $opacity);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue;
}

body {
    background-color: $primary-bg;
}

.heading-border {
    border-bottom: solid 5px $primary-green;
    width: auto;
    display: inline-block;
    margin-bottom: 25px;
}

.container {
    width: 100%;
    max-width: 100% !important;
    padding: 0 50px;
}

header  {
    align-items: baseline !important;

    nav {
        background-color: $primary-bg !important;
        padding-left: 0 !important;

        ul li a {
            font-size: 17px;
        }
    }

    .navbar-brand {
        font-size: 26px;
    }
}

.alert a {
    color: $danger-color;
}

.anime-card {
    padding-bottom: 10px;
    padding-right: 20px;
    width: 20%;

    img {
        border-radius: 3px 3px 0 0;
        width: 100%;
        height: 110px;
    }

    .thumbnail {
        position: relative;
    }

    a {
        text-decoration: none;
        color: #fff;

        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-top: 10px;
            font-size: 16px;
        }

        &:hover p {
            color: $primary-green;
        }
    }
}

body.index {
    .main-container {
        margin-top: 20px;
    }

    .episode-number {
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: $primary-green;
        padding: 2px 8px;
        border-radius: 10px 0 10px 0;
    }

    .most-watched-banner {
        height: 100px;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .most-watched-banner a img {
        width: 100%;
    }

    .most-watched-banner a div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: primary-green-op(0.8);
        opacity: 0;
        transition: opacity 0.2s;
    }

    .most-watched-banner a div strong {
        color: white;
        font-size: 24px;
    }

    .most-watched-banner:hover div {
        opacity: 1;
    }
}

body.anime {
    .anime-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 150px;
        overflow: hidden;
        border-bottom: solid 5px $primary-green;

        .banner-overlay {
            width: 100%;
            position: relative;
            height: 100%;

            img, .overlay {
                width: 100%;
                position: absolute;
            }

            img {
                top: 50%;
                transform: translateY(-50%);
            }

            .overlay {
                background-color: rgba(black, 0.85);
                height: 100%;
            }
        }

        h1 {
            position: absolute;
        }
    }

    .anime-details {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        display: flex;
        align-items: flex-start;

        .anime-episodes {
            margin-right: 50px;
            width: 70%;
            max-height: 600px;
            overflow-y: auto;
            border: solid 2px $secondary-bg;
            ul {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin: 0;
                li {
                    width: (100% / 6);
                    list-style: none;
                    border-bottom: solid 1px $secondary-bg;
                    border-right: solid 1px $secondary-bg;
                    padding-left: 10px;
                    &:hover {
                        background-color: $secondary-bg;
                        a {
                            text-decoration: none;
                        }
                    }
                    a {
                        display: flex;
                        width: 100%;
                        color: white;
                        padding: 10px 3px;
                        align-items: center;

                        .arrow-episode {
                            display: inline-block;
                            background-color: $primary-green;
                            border-radius: 50%;
                            width: 15px;
                            height: 15px;
                            margin-right: 5px;
                            position: relative;

                            &:after {
                                content: "";
                                width: 0;
                                height: 0;
                                border-top: 4px solid transparent;
                                border-left: 6px solid white;
                                border-bottom: 4px solid transparent;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
        }

        .anime-info {
            width: 30%;

            .basic-info {
                color: white;
                //margin-top: 10px;

                .vertical-sep {
                    color: $primary-fg;
                }
            }

            .anime-synopsis {
                margin-top: 5px;
            }

            .anime-genres {
                margin: 5px 0;

                a {
                    padding: 5px 13px;
                    margin: 8px 10px 0 0;
                    display: inline-block;
                    background-color: $secondary-bg;
                    color: white;
                    border-radius: 15px;
                    transition: all 0.1s linear;
                    &:hover {
                        text-decoration: none;
                        background-color: $primary-green;
                    }
                }
            }

            .anime-chrono {
                margin-top: 20px;

                ul {
                    list-style: none;

                    li {
                        a {
                            color: $secondary-fg;
                            &:hover {
                                color: lighten($primary-green, 10);
                            }
                            &.current-anime {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

body.browse {
    .container h5 {
        margin-top: 10px;
    }

    .filter-container {
        form {
            width: 100%;
            display: flex;
            align-items: flex-end;

            .filter-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-right: 20px;
                color: white;

                label {
                    margin: 0 8px 0 5px;
                    padding: 0;
                    color: $primary-fg;
                }

                .selectric-wrapper {
                    position: relative;
                    z-index: 10;
                    .selectric-hide-select {
                        display: none;
                    }
                    .selectric {
                        cursor: pointer;
                        .label {
                            margin: 0;
                            height: inherit;
                            line-height: normal;
                            margin-right: 8px;
                        }

                        .button {
                            color: $primary-green;
                            //font-size: 18px;
                        }
                    }
                    .selectric-items {
                        display: none;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        margin-top: 5px;
                        max-width: 120px*5;
                        ul {
                            display: block;
                            margin-bottom: 0;
                            width: 100%;
                            li {
                                display: inline-block;
                                text-align: center;
                                width: 120px;
                                padding: 10px;
                                list-style: none;
                                cursor: pointer;
                                &:hover {
                                    background-color: $pressed-on-sec-bg;
                                }
                                &.selected {
                                    color: $primary-green;
                                    background-color: $pressed-on-sec-bg;
                                }
                            }
                        }
                    }
                    .selectric-input {
                        display: none;
                    }
                    &.selectric-open {
                        .selectric-items {
                            display: block;
                        }
                    }
                }

                &.column {
                    .selectric-items {
                        width: auto;
                        ul li {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }

            .selectric, .selectric-items, input[type="submit"] {
                border-radius: 3px;
                background-color: $secondary-bg;
            }

            .selectric, input[type="submit"] {
                padding: 5px 12px;
            }

            input[type="submit"] {
                border: none;
                color: white;
            }
        }
    }

    .animes {
        margin-top: 30px;

        .anime-card {
            width: (100% / 6);
        }
    }

    .pagination {
        ul {
            display: flex;
            li {
                list-style: none;
                a {
                    background-color: $secondary-bg;
                    display: inline-block;
                    color: white;
                    padding: 5px 12px;
                    &:hover {
                        background-color: $pressed-on-sec-bg;
                    }
                    &.previous {
                        border-radius: 17px 0 0 17px;
                    }
                    &.next {
                        border-radius: 0 17px 17px 0;
                    }
                    &.disabled {
                        color: $secondary-fg;
                        background-color: $disabled;
                        cursor: default;
                    }
                }
            }
        }
    }
}

body.anime-episode {
    .episode-title {
        font-size: 30px;
        font-weight: 300;
        margin-top: 20px;
        strong {
            color: white;
            font-weight: 500;
        }
    }

    .video-container {
        width: 100%;
        margin-top: 20px;

        ul {
            width: 100%;
            list-style: none;
            display: flex;

            li {
                display: inline-block;
                border-bottom: solid 2px darken($primary-green, 15%);
                a {
                    text-align: center;
                    font-weight: 500;
                    text-decoration: none;
                    color: $primary-fg;
                    display: inline-block;
                    padding-right: 10px;
                    padding-bottom: 5px;
                }
                &.active {
                    border-bottom: solid 2px $primary-green;
                    a {
                        color: white;
                    }
                }
                &:hover {
                    border-bottom: solid 2px darken($primary-green, 5%);
                }
            }
        }
        .video-player {
            display: flex;
            .iframe-protect {
                width: 100%;
                max-width: 960px;
                .iframe-container {
                    padding-bottom: 56.25%;
                    position: relative;
                    height: 0;
                    iframe {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }

    section.comments {
        h5 {
            margin-top: 40px;
        }

        .comment-form-box {
            .user-info {
                display: flex;
                align-items: flex-end;

                img {
                    width: 47px;
                    height: 47px;
                    border-radius: 50%;
                    border: solid 2px #aaa;
                }

                .name-nick {
                    margin-left: 10px;
                    .name {
                        color: white;
                        font-size: 16px;
                    }
                    .nick {
                        font-size: 13px;
                    }
                }
            }
            form {
                margin-top: 10px;
                background-color: $secondary-bg;
                border-radius: 5px 5px 5px 5px;
                overflow: hidden;
                .comment-input {
                    padding: 12px;
                    min-height: 80px;
                    border-radius: 5px 5px 0 0;
                    font-weight: 500;
                    font-size: 16px;
                    overflow: auto;
                    .placeholder {
                        color: $secondary-fg;
                    }
                }
                .toolbar {
                    display: flex;
                    border-radius: 0 0 5px 5px;
                    justify-content: space-between;
                    .tools {
                        display: flex;
                        button {
                            background-color: transparent;
                            border: none;
                            padding: 5px 15px;
                            margin: 0;
                            color: $secondary-fg;
                            &:hover {
                                background-color: $pressed-on-sec-bg;
                                color: $primary-fg;
                            }
                        }
                    }
                    input[type="submit"] {
                        background-color: $primary-green;
                        border: none;
                        padding: 5px 40px;
                        color: white;
                        font-weight: 500;
                        &:hover {
                            background-color: darken($primary-green, 5%);
                        }
                    }
                }
            }
        }

        .comment {
            margin-top: 30px;
            display: flex;
            .left-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 65px;
                    height: 65px;
                    border-radius: 60%;
                }
                .vertical-line {
                    margin-top: 10px;
                    width: 3px;
                    height: 100%;
                    background-color: $primary-green;
                    border-radius: 2px;
                }
            }

            .right-box {
                margin-left: 10px;

                .name-nick {
                    display: flex;
                    flex-direction: column;
                    .name {
                        color: $primary-fg;
                        font-size: 16px;
                    }

                    .nick {
                        color: $secondary-fg;
                    }
                }

                .content {
                    color: $primary-fg;
                    margin-top: 7px;
                    a {
                        color: $primary-green;
                    }
                }

                .buttons {
                    display: flex;
                    margin-top: 10px;
                    .arrow {
                        .vote-arrow {
                            stroke: $primary-fg;
                        }
                        &.active {
                            .vote-arrow {
                                stroke: $primary-green;
                            }
                        }
                    }

                    .vote-count {
                        padding: 0 7px;
                    }

                    button {
                        margin-right: 15px;
                        background-color: transparent;
                        border: none;
                        &.upvote {
                            margin-right: 0;
                        }
                        &.reply {
                            color: $primary-fg;
                        }
                        &.report {
                            color: $danger-color;
                        }
                    }

                }
            }
        }
    }
}
