* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue;
}

body {
  background-color: #141414;
}

.heading-border {
  border-bottom: solid 5px #129666;
  width: auto;
  display: inline-block;
  margin-bottom: 25px;
}

.container {
  width: 100%;
  max-width: 100% !important;
  padding: 0 50px;
}

header {
  align-items: baseline !important;
}
header nav {
  background-color: #141414 !important;
  padding-left: 0 !important;
}
header nav ul li a {
  font-size: 17px;
}
header .navbar-brand {
  font-size: 26px;
}

.alert a {
  color: #A52020;
}

.anime-card {
  padding-bottom: 10px;
  padding-right: 20px;
  width: 20%;
}
.anime-card img {
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 110px;
}
.anime-card .thumbnail {
  position: relative;
}
.anime-card a {
  text-decoration: none;
  color: #fff;
}
.anime-card a p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
  font-size: 16px;
}
.anime-card a:hover p {
  color: #129666;
}

body.index .main-container {
  margin-top: 20px;
}
body.index .episode-number {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #129666;
  padding: 2px 8px;
  border-radius: 10px 0 10px 0;
}
body.index .most-watched-banner {
  height: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  margin-bottom: 10px;
}
body.index .most-watched-banner a img {
  width: 100%;
}
body.index .most-watched-banner a div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 150, 102, 0.8);
  opacity: 0;
  transition: opacity 0.2s;
}
body.index .most-watched-banner a div strong {
  color: white;
  font-size: 24px;
}
body.index .most-watched-banner:hover div {
  opacity: 1;
}

body.anime .anime-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-bottom: solid 5px #129666;
}
body.anime .anime-banner .banner-overlay {
  width: 100%;
  position: relative;
  height: 100%;
}
body.anime .anime-banner .banner-overlay img, body.anime .anime-banner .banner-overlay .overlay {
  width: 100%;
  position: absolute;
}
body.anime .anime-banner .banner-overlay img {
  top: 50%;
  transform: translateY(-50%);
}
body.anime .anime-banner .banner-overlay .overlay {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
}
body.anime .anime-banner h1 {
  position: absolute;
}
body.anime .anime-details {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
body.anime .anime-details .anime-episodes {
  margin-right: 50px;
  width: 70%;
  max-height: 600px;
  overflow-y: auto;
  border: solid 2px #222222;
}
body.anime .anime-details .anime-episodes ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}
body.anime .anime-details .anime-episodes ul li {
  width: 16.6666666667%;
  list-style: none;
  border-bottom: solid 1px #222222;
  border-right: solid 1px #222222;
  padding-left: 10px;
}
body.anime .anime-details .anime-episodes ul li:hover {
  background-color: #222222;
}
body.anime .anime-details .anime-episodes ul li:hover a {
  text-decoration: none;
}
body.anime .anime-details .anime-episodes ul li a {
  display: flex;
  width: 100%;
  color: white;
  padding: 10px 3px;
  align-items: center;
}
body.anime .anime-details .anime-episodes ul li a .arrow-episode {
  display: inline-block;
  background-color: #129666;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  position: relative;
}
body.anime .anime-details .anime-episodes ul li a .arrow-episode:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 6px solid white;
  border-bottom: 4px solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body.anime .anime-details .anime-info {
  width: 30%;
}
body.anime .anime-details .anime-info .basic-info {
  color: white;
}
body.anime .anime-details .anime-info .basic-info .vertical-sep {
  color: #C8C8C8;
}
body.anime .anime-details .anime-info .anime-synopsis {
  margin-top: 5px;
}
body.anime .anime-details .anime-info .anime-genres {
  margin: 5px 0;
}
body.anime .anime-details .anime-info .anime-genres a {
  padding: 5px 13px;
  margin: 8px 10px 0 0;
  display: inline-block;
  background-color: #222222;
  color: white;
  border-radius: 15px;
  transition: all 0.1s linear;
}
body.anime .anime-details .anime-info .anime-genres a:hover {
  text-decoration: none;
  background-color: #129666;
}
body.anime .anime-details .anime-info .anime-chrono {
  margin-top: 20px;
}
body.anime .anime-details .anime-info .anime-chrono ul {
  list-style: none;
}
body.anime .anime-details .anime-info .anime-chrono ul li a {
  color: #888;
}
body.anime .anime-details .anime-info .anime-chrono ul li a:hover {
  color: #17c485;
}
body.anime .anime-details .anime-info .anime-chrono ul li a.current-anime {
  color: white;
}

body.browse .container h5 {
  margin-top: 10px;
}
body.browse .filter-container form {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
body.browse .filter-container form .filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  color: white;
}
body.browse .filter-container form .filter-group label {
  margin: 0 8px 0 5px;
  padding: 0;
  color: #C8C8C8;
}
body.browse .filter-container form .filter-group .selectric-wrapper {
  position: relative;
  z-index: 10;
}
body.browse .filter-container form .filter-group .selectric-wrapper .selectric-hide-select {
  display: none;
}
body.browse .filter-container form .filter-group .selectric-wrapper .selectric {
  cursor: pointer;
}
body.browse .filter-container form .filter-group .selectric-wrapper .selectric .label {
  margin: 0;
  height: inherit;
  line-height: normal;
  margin-right: 8px;
}
body.browse .filter-container form .filter-group .selectric-wrapper .selectric .button {
  color: #129666;
}
body.browse .filter-container form .filter-group .selectric-wrapper .selectric-items {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 5px;
  max-width: 600px;
}
body.browse .filter-container form .filter-group .selectric-wrapper .selectric-items ul {
  display: block;
  margin-bottom: 0;
  width: 100%;
}
body.browse .filter-container form .filter-group .selectric-wrapper .selectric-items ul li {
  display: inline-block;
  text-align: center;
  width: 120px;
  padding: 10px;
  list-style: none;
  cursor: pointer;
}
body.browse .filter-container form .filter-group .selectric-wrapper .selectric-items ul li:hover {
  background-color: #191919;
}
body.browse .filter-container form .filter-group .selectric-wrapper .selectric-items ul li.selected {
  color: #129666;
  background-color: #191919;
}
body.browse .filter-container form .filter-group .selectric-wrapper .selectric-input {
  display: none;
}
body.browse .filter-container form .filter-group .selectric-wrapper.selectric-open .selectric-items {
  display: block;
}
body.browse .filter-container form .filter-group.column .selectric-items {
  width: auto;
}
body.browse .filter-container form .filter-group.column .selectric-items ul li {
  display: block;
  width: 100%;
}
body.browse .filter-container form .selectric, body.browse .filter-container form .selectric-items, body.browse .filter-container form input[type=submit] {
  border-radius: 3px;
  background-color: #222222;
}
body.browse .filter-container form .selectric, body.browse .filter-container form input[type=submit] {
  padding: 5px 12px;
}
body.browse .filter-container form input[type=submit] {
  border: none;
  color: white;
}
body.browse .animes {
  margin-top: 30px;
}
body.browse .animes .anime-card {
  width: 16.6666666667%;
}
body.browse .pagination ul {
  display: flex;
}
body.browse .pagination ul li {
  list-style: none;
}
body.browse .pagination ul li a {
  background-color: #222222;
  display: inline-block;
  color: white;
  padding: 5px 12px;
}
body.browse .pagination ul li a:hover {
  background-color: #191919;
}
body.browse .pagination ul li a.previous {
  border-radius: 17px 0 0 17px;
}
body.browse .pagination ul li a.next {
  border-radius: 0 17px 17px 0;
}
body.browse .pagination ul li a.disabled {
  color: #888;
  background-color: #323232;
  cursor: default;
}

body.anime-episode .episode-title {
  font-size: 30px;
  font-weight: 300;
  margin-top: 20px;
}
body.anime-episode .episode-title strong {
  color: white;
  font-weight: 500;
}
body.anime-episode .video-container {
  width: 100%;
  margin-top: 20px;
}
body.anime-episode .video-container ul {
  width: 100%;
  list-style: none;
  display: flex;
}
body.anime-episode .video-container ul li {
  display: inline-block;
  border-bottom: solid 2px #0a5238;
}
body.anime-episode .video-container ul li a {
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: #C8C8C8;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 5px;
}
body.anime-episode .video-container ul li.active {
  border-bottom: solid 2px #129666;
}
body.anime-episode .video-container ul li.active a {
  color: white;
}
body.anime-episode .video-container ul li:hover {
  border-bottom: solid 2px #0f7f57;
}
body.anime-episode .video-container .video-player {
  display: flex;
}
body.anime-episode .video-container .video-player .iframe-protect {
  width: 100%;
  max-width: 960px;
}
body.anime-episode .video-container .video-player .iframe-protect .iframe-container {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
body.anime-episode .video-container .video-player .iframe-protect .iframe-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body.anime-episode section.comments h5 {
  margin-top: 40px;
}
body.anime-episode section.comments .comment-form-box .user-info {
  display: flex;
  align-items: flex-end;
}
body.anime-episode section.comments .comment-form-box .user-info img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: solid 2px #aaa;
}
body.anime-episode section.comments .comment-form-box .user-info .name-nick {
  margin-left: 10px;
}
body.anime-episode section.comments .comment-form-box .user-info .name-nick .name {
  color: white;
  font-size: 16px;
}
body.anime-episode section.comments .comment-form-box .user-info .name-nick .nick {
  font-size: 13px;
}
body.anime-episode section.comments .comment-form-box form {
  margin-top: 10px;
  background-color: #222222;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
}
body.anime-episode section.comments .comment-form-box form .comment-input {
  padding: 12px;
  min-height: 80px;
  border-radius: 5px 5px 0 0;
  font-weight: 500;
  font-size: 16px;
  overflow: auto;
}
body.anime-episode section.comments .comment-form-box form .comment-input .placeholder {
  color: #888;
}
body.anime-episode section.comments .comment-form-box form .toolbar {
  display: flex;
  border-radius: 0 0 5px 5px;
  justify-content: space-between;
}
body.anime-episode section.comments .comment-form-box form .toolbar .tools {
  display: flex;
}
body.anime-episode section.comments .comment-form-box form .toolbar .tools button {
  background-color: transparent;
  border: none;
  padding: 5px 15px;
  margin: 0;
  color: #888;
}
body.anime-episode section.comments .comment-form-box form .toolbar .tools button:hover {
  background-color: #191919;
  color: #C8C8C8;
}
body.anime-episode section.comments .comment-form-box form .toolbar input[type=submit] {
  background-color: #129666;
  border: none;
  padding: 5px 40px;
  color: white;
  font-weight: 500;
}
body.anime-episode section.comments .comment-form-box form .toolbar input[type=submit]:hover {
  background-color: #0f7f57;
}
body.anime-episode section.comments .comment {
  margin-top: 30px;
  display: flex;
}
body.anime-episode section.comments .comment .left-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.anime-episode section.comments .comment .left-box img {
  width: 65px;
  height: 65px;
  border-radius: 60%;
}
body.anime-episode section.comments .comment .left-box .vertical-line {
  margin-top: 10px;
  width: 3px;
  height: 100%;
  background-color: #129666;
  border-radius: 2px;
}
body.anime-episode section.comments .comment .right-box {
  margin-left: 10px;
}
body.anime-episode section.comments .comment .right-box .name-nick {
  display: flex;
  flex-direction: column;
}
body.anime-episode section.comments .comment .right-box .name-nick .name {
  color: #C8C8C8;
  font-size: 16px;
}
body.anime-episode section.comments .comment .right-box .name-nick .nick {
  color: #888;
}
body.anime-episode section.comments .comment .right-box .content {
  color: #C8C8C8;
  margin-top: 7px;
}
body.anime-episode section.comments .comment .right-box .content a {
  color: #129666;
}
body.anime-episode section.comments .comment .right-box .buttons {
  display: flex;
  margin-top: 10px;
}
body.anime-episode section.comments .comment .right-box .buttons .arrow .vote-arrow {
  stroke: #C8C8C8;
}
body.anime-episode section.comments .comment .right-box .buttons .arrow.active .vote-arrow {
  stroke: #129666;
}
body.anime-episode section.comments .comment .right-box .buttons .vote-count {
  padding: 0 7px;
}
body.anime-episode section.comments .comment .right-box .buttons button {
  margin-right: 15px;
  background-color: transparent;
  border: none;
}
body.anime-episode section.comments .comment .right-box .buttons button.upvote {
  margin-right: 0;
}
body.anime-episode section.comments .comment .right-box .buttons button.reply {
  color: #C8C8C8;
}
body.anime-episode section.comments .comment .right-box .buttons button.report {
  color: #A52020;
}

/*# sourceMappingURL=style.css.map */
